body {
}
.header{
    height:20%;
    width:100%;
    background-color:grey;
    
}
.Footer{
    height:20%;
    background-color:grey;
}
.Navigation{
    height:60%;
    background-color:orange;

}
.content{
    height:60%;
}